/* ===================================
   EVERYTHING
   =================================== */
* {
    font-family: var(--default-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {
    --default-font: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --h4-font-size: ;
}

body {
    background-color: rebeccapurple;
}

button,
a,
png,
svg {
    cursor: pointer;
}

/* ===================================
   HEADER
   =================================== */

nav {
    display: flex;
    width: 90%;
}