/* ===================================
   EVERYTHING
   =================================== */
* {
    font-family: var(--default-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {
    --default-font: ;
    --font-size-xxl: 4em;
    --font-size-xl: 3em;
    --font-size-l: 1.5em;

    --button-radius: 0.75em;
    --button-color: rgb(232, 232, 232);
    --button-outline-color: rgb(62, 0, 90);

    --header-color: rgb(255, 254, 184);

    --title-font: 'Faster One', monospace;
    --purple-color: rgb(62, 0, 90);
    --button-font: 'Fredoka', monospace;
    --button-font-color: ;
    --button-bg-color: ;
}

body {
    background-image: url("./img/hd-bg-colorful.jpg");
    background-position: center;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
    z-index: -1;
}

button,
a,
png,
svg {
    cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    background: var(--button-color);
    padding: 0.6em 1.3em;
    font-family: var(--button-font);
    font-weight: 500;
    font-size: 18px;
    color: var(--purple-color);
    border: 3px solid var(--button-outline-color);
    border-radius: var(--button-radius);
    box-shadow: 0.1em 0.1em;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

/* ===================================
   WRAPPER
   =================================== */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* ===================================
   HEADER
   =================================== */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: hsla(59, 100%, 86%, 0.7);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

nav.name {
    font-family: var(--title-font);
    font-size: var(--font-size-xxl);
    color: var(--purple-color);
    padding-bottom: 5px;
}

nav.nav-btns {
    display: flex;
    align-items: center;
}

.nav-btn {
    margin: 0px 10px;
}

/* ===================================
   CONTENT
   =================================== */
/* ALL CONTENT */
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HOME PAGE */
a.home-cta {
    font-family: 'Playfair Display', serif;
    font-size: var(--font-size-xl);
    padding: 30px 35px;
    border: none;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.65);
    color: var(--purple-color);
}

p.home-tagline {
    font-family: var(--button-font);
    font-size: var(--font-size-xl);
    color: var(--purple-color);
    max-width: 400px;
    text-align: center;
    color: whitesmoke;
    width: fit-content;
    margin-top: 25px;
    color: var(--header-color);
    text-shadow: 2px 2px 0px var(--purple-color);
}

/* ===================================
   FOOTER
   =================================== */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

footer svg{
    fill: var(--header-color);
    filter: drop-shadow(2px 2px 0px var(--purple-color));

}